body {
    font-family: "Poppins", sans-serif;
}

/*      Sections take the whole screen view     */
section {
    height: 100vh;
}

/*      HEADER      */
header {
    /*background: linear-gradient(to bottom, #ffffff, black);*/
    background-color: #FFFFFF;
}

/*      Navigation      */
nav {
    background-image: url('images/background.jpg');
    display: flex;
    height: 45px;
}

.nav-logo {
    margin-right: 30%;
    margin-left: 50px;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    display: inline;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50px;
}

.nav-links li:hover {
    background-color: #657786;
    transition: 0.8s;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

/* Hero Section Styling */
.hero {
    background-image: url('images/background.jpg'); /* Replace 'images/hero-background.jpg' with your actual image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    color: black;
}

.hero-title h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero .social-media-links{
    margin-bottom: 20px;
}

.hero .contact-social-links {
    list-style: none;
    padding: 0;
}

.hero .contact-social-links li {
    display: inline-block;
    margin: 0 10px;
}

.hero .contact-social-links li a {
    display: inline-block;
}

.hero .contact-social-links li a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.hero .contact-social-links li a img:hover {
    transform: scale(1.2);
}

.hero-title p {
    font-size: 24px;
}


/*      MAIN        */
main {
    height: auto;
}

/* Portfolio Section Styling */
.portfolio {
    background-image: url('images/portfolio.jpg');
    background-size: cover;
    padding: 40px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
}

.portfolio h2 {
    font-size: 50px;
    font-weight: bold;
    color: #191414;
    margin-top: 1px;
    margin-bottom: 80px;
    text-align: center;
}

.portfolio .project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .project .first-project,
.portfolio .project .second-project {
    background-color: transparent;
    border-radius: 12px;
    padding: 10px;
    width: 350px;
    height: 350px;
    margin: 30px;
}

.portfolio .project h3 {
    font-size: 24px;
    color: #1DB954;
    margin-bottom: 10px;
}

.portfolio .project p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.portfolio .project a {
    display: inline-block;
    font-size: 16px;
    color: #191414;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.portfolio .project a:hover {
    color: #1DB954;
}


/* About Me Section Styling */
.about {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    margin: 40px 0;
    height: auto;
}

.about h2 {
    font-size: 32px;
    color: #191414;
    margin-bottom: 30px;
    text-align: center;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-photo {
    flex: 1 1 30%;
    display: grid;
    padding-top: 60px;
    margin-bottom: 20px;
}

.about .about-photo img {
    max-width: 85%;
    background-color: transparent;
    height: auto;
}

.summary-photo {
    max-width: 65%;
    background-color: transparent;
    height: auto;
    padding-top: 130px;
    margin: 100px;
}

.about .intro-summary {
    width: 50%;
    padding: 20px;
}
.center {
    text-align: center;
}
.about h3 {
    font-size: 24px;
    color: #1DB954;
    margin-bottom: 10px;
}

.about p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about ul {
    list-style: none;
    padding-left: 0;
    color: #666;
}

.about ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.about ul li::before {
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about a {
    color: #191919;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.about a:hover {
    color: #1DB954;
}

.professional-headshot img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact Section Styling */
.contact {
    padding: 40px 20px;
    border-radius: 8px;
    margin: 40px 0;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    color: #666;
}

.contact a {
    color: #191919;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #1DB954;
}

.contact .contact-info,
.contact .social-media-links,
.contact .location,
.contact .availability {
    margin-bottom: 20px;
}


.contact .contact-info p,
.contact .availability p {
    margin: 10px 0;
}

.contact .contact-social-links {
    list-style: none;
    padding: 0;
}

.contact .contact-social-links li {
    display: inline-block;
    margin: 0 10px;
}

.contact .contact-social-links li a {
    display: inline-block;
}

.contact .contact-social-links li a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.contact .contact-social-links li a img:hover {
    transform: scale(1.2);
}

.contact .location iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}


/* Resume Section Styling */
.resume {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
    margin: 40px 0;
    height: auto;
    border-radius: 8px;
}

.resume h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.resume p {
    font-size: 18px;
    color: #666;
}

.resume a {
    color: #191414;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.resume a:hover {
    color: #1DB954;
}



/* Footer Styling */
footer {
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer .footer-social-links {
    margin-bottom: 20px;
}

footer .footer-social-links ul {
    list-style: none;
    padding: 0;
}

footer .footer-social-links ul li {
    display: inline-block;
    margin: 0 10px;
}

footer .footer-social-links ul li a {
    display: inline-block;
}

footer .footer-social-links ul li a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

footer .footer-social-links ul li a img:hover {
    transform: scale(1.2);
}

footer p {
    margin: 10px 0 0;
    font-size: 14px;
}
